services:
  client:
    build: ./client
    command: npm run dev
    env_file:
      - path: ./client/.env
        required: false
    volumes:
      - ./client:/code
      - /code/node_modules
    ports:
      - "3000:3000"
    networks:
      - app-network
  server:
    build: ./server
    env_file:
      - ./server/.env
    command: sh -c "dos2unix /app/entrypoint.sh && /app/entrypoint.sh"
    volumes:
      - ./server:/app
    ports:
      - "8000:8000"
    networks:
      - app-network
    depends_on:
      - db
  db:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=password
    networks:
      - app-network
    volumes:
      - database:/var/lib/postgresql/data
networks:
  app-network:
    driver: bridge
  
volumes:
  database:

    